// DEFAULT
r_decal_cullsize 1
exec joystick.cfg
exec autoexec.cfg
stuffcmds
startupmenu
sv_unlockedchapters 99

// FRAGMENT
vgui_cache_res_files 0
cl_hud_minmode 0
alias cl_hud_minmode ""
wait 20; showconsole; wait 10; toggle mat_aaquality; hideconsole