__pycache__/**
__pycache__/*.*
.venv
*.pyc

# ---

*.cache
*.tga
*.psd
*.ai

# ---

user/**
!user/**/*.example
materials/vgui/replay/thumbnails/user/**
scripts/hudanimations_user.txt

# ---

temp/
assets/screenshots/jpg/

# ---

supporters.toml
frag_usercfg*.*